body {
    font: 12px Arial;
    color: #111111;
    padding: 10px 20px;
    background: #cccccc;
}

input {
    font: 12px Arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#loginFrame {
    text-align: center;
    margin: auto auto;
    display: block;
}

#chatFrame {
    text-align: center;
    display: none;
}

#video {
    width: auto;
    height: auto;
    border: 1px solid #000000;
    background: #666666;
    display: none;
}

#buttonBar {
    text-align: left;
    padding: 4px 0;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    height: auto;
    width: auto;
    border: 1px solid #000000;
    overflow: auto;
    font: 14px "Courier New", Monaco, monospace; 
}

#messageForm {
    margin: 0;
    padding: 0;
}

#messageBox {
    margin: 0;
    width: auto;
    max-width: 100%;
    margin-left: 0;
    border: 1px solid #000000;
    text-align: left;
}

#messageSubmit {
    width: 60px;
    border: 1px solid #000000;
}

