body {
    font: 12px Arial, sans-serif;
    color: #111111;
    padding: 10px 20px;
    background: #cccccc;
}

input {
    font: 12px Arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

video {
    margin: 0;
    padding: 0;
}

#loginFrame {
    text-align: center;
    margin: auto auto;
    display: block;
}

#chatFrame {
    text-align: center;
    display: none;
}

#videoPane {
    width: auto;
    height: auto;
    border: 1px solid #000000;
    background: #555555;
    display: none;
    line-height: 0;
}

#buttonBar {
    text-align: left;
    padding: 4px 0;
}

#chatbox {
    text-align: left;
    margin: 0 0;
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    height: auto;
    width: -webkit-calc(100% - 26px - 14em);
    width: calc(100% - 26px - 14em);
    border: 1px solid #000000;
    overflow: auto;
    font: 14px "Courier New", Monaco, monospace;
    float: left;
}

#chatbox strong {
    padding-left: 15px;
    font-weight: bold;
    white-space: pre;
    white-space: pre-wrap;
}

#chatbox span {
    padding-left: 15px;
    white-space: pre;
    white-space: pre-wrap;
}

#userlist {
    text-align: left;
    width: 14em;
    height: auto;
    background: #ffffff;
    border: 1px solid #000000;
    overflow: auto;
    font: 12px Arial, sans-serif;
    padding: 10px;
    margin: 0 0;
    margin-bottom: 10px;
    float: right;
}

#userlist ul {
    padding-left: 10px;
    font: 14px Arial, sans-serif;
}

#userlist li {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 8px;
}

#messageBox {
    margin: 0;
    width: auto;
    max-width: 100%;
    margin-left: 0;
    border: 1px solid #000000;
    text-align: left;
    clear: both;
}

.flip {
-webkit-transform: rotateY(180deg);
}
